*{box-sizing: border-box;
margin:0;
padding:0}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: "Nunito" , sans-serif;
  background-image: url("https://media.moddb.com/images/groups/1/2/1488/The_Lonely_Mountain-The_Desolation_of_Smaug_Wallpaper.jpg");
  background-attachment: fixed;
}

h1.titulofav {
  margin-top:30px;
  text-align:center;
  background-color:black;
}

h1.titulofav p {
  color:white;
  font-family:fantasy;
  font-size:60px;
}
div.favorito1 img{
  width:85px;
  height:70px;
  border-radius:10px;
}
div.favorito1 {
  margin-top:20px;
  border-radius:30px;
  border:10px black solid;
  background-color:black;
  width:105px;
  margin-left:583px;
  margin-bottom:50px;
}

div.favorito img {
  display:block;
    margin-left:388px;
    border:black 3px solid;
    width:486px;
    height:738px;
}
h2.nombredepelicula {
  background-color:black;
     opacity:0.8;
     filter:alpha(opacity=60); /* IE < 9.0 */
width:486px;
margin-left:388px;
}

h2 p {
  color:white;
  text-align:center;
  font-size:40px;
  font-family:fantasy;
}















a.navbar-brand img{
  width: 50px;
}


footer {
  background-color: whitesmoke;

}
footer img {
  width: 50px;
  margin-left: 48.5%;

  position:relative;
  bottom:20px;
}
footer p {
  text-align: center;
  width: 35%;
 margin-left: 33%;

}
header {
  position: fixed;
  width: 100%;
  z-index: 15;

}
