a.navbar-brand img{
  width: 50px;
}

header {
  position: fixed;
  width: 100%;
  z-index: 15;
}
.Botonsesion {
  margin-left: 5px;
  background-color: #ffc168;
  border-color:teal;
  color: teal;
}

.Botonsesion:hover{
  background-color: teal;
  border-color: #ffc168;
  color: white;
}

.miBoton {
  background-color: #ffc168;
  border-color:teal;
  color: teal;
}
.miBoton:hover{
  background-color: teal;
  border-color: #ffc168;
  color: white;
}
a.navbar-brand img{
  width: 50px;
}

body {
  font-family: "Nunito" , sans-serif;
  background-image: url("https://media.moddb.com/images/groups/1/2/1488/The_Lonely_Mountain-The_Desolation_of_Smaug_Wallpaper.jpg");
  background-attachment: fixed;
}
div.form-group.col-md-6 label {
  width:60%;
}
div.container label{
  font-size:20px;
color:white;

}

form {
  width:60%;
  margin:0 auto;
}

div.genero {
  color:white;
<<<<<<< HEAD
=======

>>>>>>> master
  font-size:20px;
}

div.modal-footer a button.register {
  margin-right:220px;
}
