*{box-sizing: border-box;
margin:0;
padding:0}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: "Nunito" , sans-serif;
  width:100%;
  background-image: url("https://media.moddb.com/images/groups/1/2/1488/The_Lonely_Mountain-The_Desolation_of_Smaug_Wallpaper.jpg");
  background-attachment: fixed;
}

.Botonsesion {
  margin-left: 5px;
  background-color: #ffc168;
  border-color:teal;
  color: teal;
}

.Botonsesion:hover{
  background-color: teal;
  border-color: #ffc168;
  color: white;
}


header {
  position: fixed;
  width: 100%;
  z-index: 15;
}

.miBoton {
  background-color: #ffc168;
  border-color:teal;
  color: teal;
}
.miBoton:hover{
  background-color: teal;
  border-color: #ffc168;
  color: white;
}
a.navbar-brand img{
  width: 50px;
}

div.GENEROS li {
  text-align: center;
  margin: 0 auto;
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  width: 90%;
  text-decoration: none;
  list-style-type: none;
  margin-top: -3px;
  height:90px;
  padding-top: 25px;
}

div.GENEROS li a {
  color: white;
  text-decoration: none;
  font-family: fantasy;
}

div.GENEROS li:hover a{
  text-decoration: underline;

}

footer {
  background-color: whitesmoke;
<<<<<<< Updated upstream
  position: absolute;
  width: 100%;
=======
  margin-bottom:0px;
>>>>>>> Stashed changes
}

.Botonsesion:hover{
  background-color: teal;
  border-color: #ffc168;
  color: white;
}


header {
  position: fixed;
  width: 100%;
  z-index: 15;
}

.miBoton {
  background-color: #ffc168;
  border-color:teal;
  color: teal;
}
.miBoton:hover{
  background-color: teal;
  border-color: #ffc168;
  color: white;
}
a.navbar-brand img{
  width: 50px;
}

div.GENEROS li {
  text-align: center;
  margin: 0 auto;
  background-color: black;
  font-size: 30px;
  font-weight: bold;
  width: 25%;
  text-decoration: none;
  list-style-type: none;

}
footer img {
  width: 50px;
  margin-left: 48.5%;
  

}

footer p {
  text-align: center;
  width: 35%;
 margin-left: 33%;
}

div.GENEROS li a {
  color: white;
  text-decoration: none;
}

div.GENEROS li:hover a{
  text-decoration: underline;
}
