*{box-sizing: border-box;
margin:0;
padding:0}

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  font-family: "Nunito" , sans-serif;
}



a.navbar-brand img{
  width: 50px;
}

div.carousel-item{
background-color: red;

}
div.carousel-item img.imagen{
  margin-left: 30%;
  width: 40%;
  height: 600px;
}
